framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    serializer:
        enabled: true
    property_info:
        enabled: true
    validation:
        enabled: true
        email_validation_mode: html5

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
